.admin{ 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    .adminlogin{
        background-color: #fff;
        background-color: rgba(255,255,255);
        width: 440px;
        border-radius: 0.75rem;
        top: 20%;
        padding: 36px;
      position: relative;
      overflow: hidden;
     
     span{
        --tw-bg-opacity: 1;
        background-color: #fd0;
        background-color: rgba(255,221,0,var(--tw-bg-opacity));
        content: "";
        height: 154px;
        left: -98px;
        position: absolute;
        top: 88px;
        transform: rotate(-40deg);
        transform-origin: 0 0;
        width: 100%;
        z-index: 1;
     }
        .login_up{
            display: flex;
            align-items: center;
            justify-content: space-between;
            z-index: 2;
            h2{
                font-size: 1.875rem;
    line-height: 2.25rem;
    position: relative;
    z-index: 2;
            }
            .btn{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
                .facebook{
                    background-color: #3b5a97;
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    font-size: 18px;
                    color: white;
                    border: none;
                    position: relative;
                    z-index: 2;
                }
                .google{
                    background-color: #db4d41;
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    font-size: 18px;
                    color: white;
                    border: none;
                    position: relative;
                    z-index: 2;
                }
            }
        }
        .login_mid{
            margin-top: 24px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            input{
                width: 100%;
                position: relative;
                z-index: 2;
                border: 1px solid #d1d5db;
             
                border-radius: 0.5rem;
                font-size: 18px;
                font-weight: 500;
                line-height: 1.25rem;
                padding: 1rem 1.5rem;
                width: 100%;
                
            }
            button{
                --tw-bg-opacity: 1;
                --tw-text-opacity: 1;
                align-items: center;
                background-color: #fd0;
                background-color: rgba(255,221,0,var(--tw-bg-opacity));
                border-radius: 0.5rem;
                color: #000;
                color: rgba(0,0,0,var(--tw-text-opacity));
                display: flex;
                justify-content: center;
                padding: 1rem 2rem;
                border: none;
                width: 100%;
                font-size: 20px;
                font-weight: 700;
            }
        }
        h5{
            font-size: 1.25rem;
            line-height: 1.75rem;
            color: #646464;
            text-align: center;
            
            h4{
                color: #c47dfb;
                cursor: pointer;
            }
        }
      
    }
}
.admin_container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    // height: 100vh;
    .admin_nav{
        width: 15%;
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        background-color: rgb(243, 211, 5);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        .logo{
            cursor: pointer;
            color: white;
            width: 180px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            h1{
                position: absolute;
                font-size: 30px;
              bottom: 5px;
              right: 55px ;
            }
            img{
                width: 100%;
                height: 100%;
            }
        }
        .admin_ul{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 30px;
        }
.navigation{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    li{
        cursor: pointer;
        position: relative;
        color: white;
    display: block;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.75rem;
    .svg{
        visibility: hidden;
        opacity: 0;
        position: absolute;
    }
    .svg_admin{
        visibility: visible;
        opacity: 1;
    }
    }
    li:hover{
.svg{
    visibility: visible;
        opacity: 1;
    position: absolute;
}
    }
}
    }
    .admin_right{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       height: 100%;
        table{
            height: 100%;
            //    margin-left: 50%;
            //    margin-top: 3%;
            tbody{
                
                tr{
                    td{
                        width: 200px;
                        height: 200px;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
//         .event_push{
// display: flex;
// flex-direction: column;
// align-items: flex-start;
// gap: 20px;
//         }
.event_push{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  height: 100%;
  width: 100%;
    input{
        width: 100%;
        position: relative;
        z-index: 2;
        border: 1px solid #d1d5db;
     
        border-radius: 0.5rem;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.25rem;
        padding: 1rem 1.5rem;
        width: 100%;
        
    }
    select{
        width: 100%;
        position: relative;
        z-index: 2;
        border: 1px solid #d1d5db;
     
        border-radius: 0.5rem;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.25rem;
        padding: 1rem 1.5rem;
        width: 100%;
    }
    button{
        --tw-bg-opacity: 1;
        --tw-text-opacity: 1;
        align-items: center;
        background-color: #fd0;
        background-color: rgba(255,221,0,var(--tw-bg-opacity));
        border-radius: 0.5rem;
        color: #000;
        color: rgba(0,0,0,var(--tw-text-opacity));
        display: flex;
        justify-content: center;
        padding: 1rem 2rem;
        border: none;
        width: 100%;
        font-size: 20px;
        font-weight: 700;
    }
}
.user-admin-container {
    margin: 20px;
  }
  
  .user-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .user-table th,
  .user-table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }
  
  .user-table th {
    background-color: #f2f2f2;
  }
  
  .user-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .user-table tr:hover {
    background-color: #f2f2f2;
  }
  
  .user-table button {
    margin-right: 5px;
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
  }
  
  .user-table button:hover {
    background-color: #0056b3;
  }
  .event-list-container {
    margin-top: 20px;
    margin-left: 270px;
  }
  
  .event-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .event-table th,
  .event-table td {
    border: 1px solid #ddd;
    padding: 8px;
    .detail{
        width: 400px;
    }
  }
  
  .event-table th {
    background-color: #f2f2f2;
    text-align: left;
  }
  
  .event-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .event-table tr:hover {
    background-color: #ddd;
  }
  .delete-btn {
    margin-top: 87px;
    background-color: #ff0000; /* Red background color */
    color: #fff; /* White text color */
    border: none; /* Remove border */
    padding: 5px 10px; /* Add padding */
    cursor: pointer; /* Add cursor pointer */
    border-radius: 5px; /* Add border radius */
  }
  
  .delete-btn:hover {
   
    background-color: #cc0000; /* Darker red when hovered */
  }
  
  /* Icon */
  .fa {
    margin-right: 5px; /* Add margin between icon and text */
  }
    }
}